<h4>Add a new Item</h4>
<%= form_for [@user, @user.items.new], :html=>{:class=>"form-inline"}, remote: true do |f|%>
  <div class="input-group">
    <%= f.text_field :name, class: "form-control", 'arial-label': "...", placeholder: "Enter new items" %>  
    <span class="input-group-btn">
      <%= button_tag(type: "submit", class: "btn btn-default", name: "commit", value: "conceal") do %>
        <i class="glyphicon glyphicon-plus"></i>
      <% end %> 
    </span>  
  </div>     

<% end %>